body {
    margin: 0;
    display: flex;
    place-items: center;
    min-width: 320px;
    min-height: 100vh;
    background-color: #9996C0 !important;
    color: black !important
  }

a {
font-weight: 500;
color: #f1ebeb !important;
text-decoration: inherit;
}

:root {
font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
line-height: 1.5;
font-weight: 400;

color-scheme: white;
color: rgba(0, 0, 0, 0.87) !important;
background-color: #242424;

font-synthesis: none;
text-rendering: optimizeLegibility;
-webkit-font-smoothing: antialiased;
-moz-osx-font-smoothing: grayscale;
}

h1, h2 {
    margin-bottom: 50px;
    margin-top: 30px !important;
    color: #000000 !important
}
.circleText {
  color: black !important
}
.links-container {
    display: flex;
    gap: 20px;
}

.links-container a {
    text-decoration: none;
    color: inherit;
}

.error {
    color: white;
    background-color: rgb(255, 0 , 0);
    font-weight: bold;
    position: fixed;
    border-radius: 5px;
    font-size: 15px;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    text-align: center;
    z-index:1000;
}

.notification {
    background-color: blanchedalmond;
    color: black;
    padding: 20px;
    position: fixed;
    font-size: 16px;
    top: 50%;
    left: 50%;
    border-radius: 5px;
    z-index: 1000;
    transform: translate(-50%, -50%)
}

button {
    border-radius: 8px !important;
    border: 1px solid transparent;
    /* padding: 0.6em 1.2em; */
    font-size: 1em;
    font-weight: 500;
    font-family: inherit;
    background-color: #1a1a1a;
    cursor: pointer;
    transition: border-color 0.25s;
    color:white;
  }
  button:hover {
    border-color: #646cff;
    border-radius: 8px;
  }
  button:focus,
  button:focus-visible {
    outline: 4px auto -webkit-focus-ring-color;
  }
  .radio-group {
    margin-top: 20px;
    accent-color: #6a659c;
  }

  .search-input {
    margin-top: 10px;
    padding: 5px;
    width: 100%;
    border-radius: 8px;
  }

  .dropdown-menu {
    background-color: #1a1a1a !important;
    border: 1px solid black;
  }

  .dropdown-toggle:hover {
    border-radius: 8px;
    border-color: #646cff !important;
  }
    
  .dropdown-toggle {
    background-color: black !important;
    color: white !important;
    border-color: black !important;
  }

  .dropdown-item {
    color: #6a659c !important
  }

  .button-text {
    font-size: 16px;
    line-height: 1;
    padding: 14px 22px
  }