html, body {
    /* margin-left: 5px; */
    margin: 0;
    padding: 0 4px;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    background-color: #c0bfbf !important;
    color: black !important;
    overflow-x: hidden;
  }

a {
font-weight: 500;
color: black !important;
text-decoration: inherit;
}

:root {
font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
line-height: 1.5;
font-weight: 400;

color-scheme: white;
color: rgba(0, 0, 0, 0.87) !important;
background-color: #242424;

font-synthesis: none;
text-rendering: optimizeLegibility;
-webkit-font-smoothing: antialiased;
-moz-osx-font-smoothing: grayscale;
}

h1, h2 {
    margin-bottom: 50px;
    margin-top: 30px !important;
    color: #000000 !important
}
.circleText {
  color: black !important
}
.links-container {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    max-width: 100%;
    justify-content: flex-start;
}
.links-container div {
  white-space: nowrap;
}

.example {
  font-family: "aquatronik-variable",sans-serif;
  font-variation-settings: 'wdth' 125;
}

.links-container a {
    text-decoration: none;
    color: inherit;
}

.example {
  font-family: "aquatronik-variable",sans-serif;
  font-variation-settings: 'wdth' 100;
}

.error {
    color: white;
    background-color: rgb(255, 0 , 0);
    font-weight: bold;
    position: fixed;
    border-radius: 5px;
    font-size: 15px;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    text-align: center;
    z-index:1000;
}

.notification {
    background-color: blanchedalmond;
    color: black;
    padding: 20px;
    position: fixed;
    font-size: 16px;
    top: 50%;
    left: 50%;
    border-radius: 5px;
    z-index: 1000;
    transform: translate(-50%, -50%)
}

button {
    border-radius: 8px !important;
    border: 1px solid transparent;
    /* padding: 0.6em 1.2em; */
    font-size: 1em;
    font-weight: 500;
    font-family: inherit;
    background-color: rgb(209, 129, 11);
    cursor: pointer;
    transition: border-color 0.25s;
    color:rgb(0, 0, 0);
  }
  button:hover {
    border-color: #646cff;
    border-radius: 8px;
  }
  button:focus,
  button:focus-visible {
    outline: 4px auto -webkit-focus-ring-color;
  }
  .radio-group {
    margin-top: 20px;
    accent-color: rgb(209, 129, 11);
  }

  .search-input {
    margin-top: 10px;
    padding: 5px;
    width: 100%;
    border-radius: 8px;
  }

  .dropdown-menu {
    background-color: black !important;
    border: 1px solid black;
  }

  .dropdown-toggle:hover {
    border-radius: 8px;
    border-color: #646cff !important;
  }
    
  .dropdown-toggle {
    background-color: black !important;
    color: white !important;
    border-color: black !important;
  }

  .dropdown-item {
    color: #ffffff !important
  }

  .dropdown-item:hover {
    background-color: rgb(209, 129, 11) !important;
    color: #ffffff !important
  }

  .button-text {
    font-size: 16px;
    line-height: 1;
    padding: 14px 22px
  }

  
  .album-container {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    text-align: center;
    justify-content: flex-start;
  }
  /* @media (max-width: 768px) {
    .container {
      flex-direction: column;
    } */
  .login-container {
    display: flex;
    flex-direction: column;
  }
  
  .login-container input {
    width: 200px;
  }
  .home-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 10px;
    /* padding: 10px; */
    max-width: 100%;
    box-sizing: border-box;
    overflow: hidden;
  }
  /* @media (max-width: 768px) {
    .home-container {
      padding-left: '8px';
      margin-left: '8px';
    }
  } */
  
  .black-button {
    background-color: rgb(209, 129, 11) !important;
    border-color: rgb(209, 129, 11) !important;
    color: rgb(0, 0, 0) !important;
    margin-top: 10px
  }

  .modal-container {
    background: white;
    padding: 20px;
    border-radius: 8px;
    width: 100%;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  
  .modal-header {
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 15px;
  }
  
  .modal-content {
    margin-top: 10px;
  }
  
  .modal-input, .modal-textarea {
    width: 90%;
    margin-top: 10px;
    padding: 8px;
    border: 1px solid #ddd;
    border-radius: 5px;
  }
  
  .modal-textarea {
    height: 80px;
    resize: none;
  }
  
  .modal-actions {
    margin-top: 10px;
  }
  
  .close-btn {
    background: black;
    color: white;
    padding: 8px 12px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }

  .footer {
    /* position: fixed; */
    bottom: 0;
    left: 0;
    text-align: center;
    padding: 10px;
    background-color: black;    
    color: white;
    font-size: 14px;
    margin-top: 10px;
  }

  .dropdown-toggle {
    background-color: rgb(209, 129, 11) !important; 
    color: rgb(0, 0, 0) !important; 
    border-color: rgb(209, 129, 11) !important;
}